@import url("reset.css");

.menu{
    display: flex;
    width: 100%;
    align-items: center;
    height: 50px;
    background-color: #FFFFFF;
}

.logo{
    margin: 0 30px;
}

.logo img{
    width: 80px;
    height: auto;
}

.navigation{
    display: flex;
    flex-grow: 1;
}

.navigation div{
    display: flex;
}

.navigation li{
    list-style: none;
}
.navigation a{
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-family: sans-serif;
    transition: 0.3s;
}

.hamburguer{
    display: none;
    border: none;
    background:none;
    border-top: 3px solid #000;
    cursor: pointer;
}

.hamburguer::before,
.hamburguer::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #000;
    margin-top: 5px;
}

.navigation a:hover{
    color: #8A05BE;
    border-bottom: 2px solid #8A05BE ;
    opacity: 0.7;
}

.navigation .logout{
    margin-left: auto;
    color: #8A05BE;
    font-weight: 600;
    font-family: sans-serif;
    margin-right: 50px;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #8A05BE;
    align-items: center;
}

.title{
    width: 30%;
    margin-left: 70px;
}

.title h1{
    color: #FFFFFF;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 15px;
}

.title a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
}

.mark img{
    width: 480px;
    height: 600px;
}

.formulario{
    max-width: 320px;
    height: 270px;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    margin-left: auto;
    margin-right: 70px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.formulario h2{
    text-align: left;
    color: #000;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
}

.formulario input{
    width: 100%;
    border: 0 none;
    border-bottom: 2px solid gray;
    padding: 3px;
    outline: none;
    margin-bottom: 50px;
}

.formulario button{
    text-align: left;
    width: 95%;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #E7E7E7;
    padding: 0 10px;
    cursor: pointer;
    color: #808080;
    font-size: 15px;
}

@media (max-width: 999px) {
    .hamburguer{
        display: block;
        margin-left: auto;
        margin-right: 20px;
    }
    .menu {
        height: 70px;
    }
    
    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #FFFFFF;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav.active .navigation{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .navigation .logout{
        display: none;
    }

    .logo img {
        width: 100px;
    }

    .container {
        flex-direction: column;
        padding: 10px;
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    .title {
        width: 100%;
        margin: 0;
        text-align: center; 
        margin-bottom: 30px;
    }

    .title h1{
        font-size: 25px;
    }

    .title a{
        display: none;
    }

    .mark img {
        display: none;
    }

    .formulario{
        margin: 0 20px;
    }
}


@media (max-width: 1200px) {
    .container{
        height: 100vh;
    }
    .title h1{
        font-size: 40px;
    }
    .mark{
        display: none;
    }
    
}